@font-face {
    font-family: 'Futura ExtraBold';
    src: url('https://prattbaseball.com/date/fonts/Futura-ExtraBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Meera Inimai Regular';
    src: url('https://prattbaseball.com/date/fonts/MeeraInimai-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Style Script Regular';
    src: url('https://prattbaseball.com/date/fonts/StyleScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    position: relative;
    font-family: 'Meera Inimai Regular', sans-serif;
}

.index-page {
    text-align: center; /* Center text horizontally */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

.start-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-icon {
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    margin: 0 10px; /* Adjust the spacing as needed */
}

h1 {
    font-family: 'Futura ExtraBold', sans-serif;
    margin-bottom: 20px; /* Add some space between h1 and h2 */
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 78%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;
    border: 10px solid hotpink; /* Add this line for the border */
    overflow: hidden;
    background-size: cover;
    transition: background 1s, border 1s; /* Add transition for fading effect */
}

.frame.shake {
    animation: shake 2s;
}

@keyframes shake {
    0% { transform: translate(0px, 1px) rotate(0deg); }
    10% { transform: translate(0px, 0px) rotate(0deg); }
    20% { transform: translate(0px, -1px) rotate(0deg); }
    30% { transform: translate(0px, -2px) rotate(0deg); }
    40% { transform: translate(0px, -1px) rotate(1deg); }
    50% { transform: translate(0px, 2px) rotate(-1deg); }
    60% { transform: translate(0px, 1px) rotate(0deg); }
    70% { transform: translate(0px, 1px) rotate(-1deg); }
    80% { transform: translate(0px, -1px) rotate(1deg); }
    90% { transform: translate(0px, 2px) rotate(0deg); }
    100% { transform: translate(0px, -2px) rotate(-1deg); }
}

@keyframes fadeToBlack {
    0% { background-color: pink; }
    100% { background-color: black; }
}

@keyframes flashWhite {
    0%, 100% { background-color: black; }
    50% { background-color: white; }
}

.fade-to-black {
    animation: fadeToBlack 1s forwards;
}

.flash-effect {
    animation: flashWhite 0.3s ease-in-out 1;
}

.frame.black-background {
    background-color: black !important;
}

.frame.fade-border {
    border: none !important;
}

h3 {
    margin: 0;
    width: 45%; /* Limit width to 40% of the frame */
    background-color: white; /* White background */
    padding: 1rem; /* Add some padding */
    box-sizing: border-box;
    text-align: left;
    visibility: hidden; /* Hide the element initially */
    z-index: 3;
}

h3.visible {
    visibility: visible; /* Show the element when the typing starts */
}

h4 {
    margin-left: 25%;
    margin-top: 10%;
    width: 40%;
    background-color: lightyellow;
    padding: 1.2rem;
    box-sizing: border-box;
    text-align: left;
    visibility: hidden;
    border-radius: 30px;
    z-index: 3;
}

h4.visible {
    visibility: visible; /* Show the element when the typing starts */
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    background: linear-gradient(to bottom, #ffffff, #e6f7ff); /* White to light blue gradient */
    color: #333;
    text-decoration: none;
    border-radius: 30px;
    /* border: 4px dotted hotpink; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;
    text-align: center;
}

a:hover {
    background: linear-gradient(to bottom, #e6f7ff, #cceeff); /* Light blue gradient on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.7);
    transform: translateY(1px); /* Move down slightly on hover */
}

.options {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 70%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    bottom: 7%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.options.visible {
    visibility: visible;
    opacity: 1;
}

.gameover {
    position: absolute;
    bottom: 30%;
    right: 9%;
    color: white;
    font-size: 1.8rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1; /* Ensure it is layered over all background images/colors */
}

.gameover.visible {
    visibility: visible;
    opacity: 1;
}

#playerstill {
    position: absolute;
    bottom: 0;
    right: 0%;
    width: auto;
    height: 80%;
    z-index: 2;
}

#playerstillleft {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: auto;
    height: 80%;
    z-index: 2;
}

#playerslide {
    position: absolute;
    bottom: 0;
    right: -100%; /* Start off-screen to the right */
    width: auto;
    height: 80%;
    transition: right 1s ease-in-out; /* Slide in animation */
}

#playerslide.visible {
    right: 0; /* Final position inside the frame */
}

#playerslidefirst {
    position: absolute;
    bottom: 0;
    right: -100%; /* Start off-screen to the right */
    width: auto;
    height: 80%;
    transition: right 1s ease-in-out; /* Slide in animation */
}

#playerslidefirst.visible {
    right: 0; /* Final position inside the frame */
}

#ratstill {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: auto;
    height: 80%;
}

#ratslide {
    position: absolute;
    bottom: 0;
    left: -100%; /* Start off-screen to the left */
    width: auto;
    height: 80%;
    transition: left 1s ease-in-out; /* Slide in animation */
}

#ratslide.visible {
    left: 0; /* Final position inside the frame */
}

#hover-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 80%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#hover-image.visible {
    opacity: 1;
}

#hover-image.hidden {
    opacity: 0;
}

#playerdownslide {
    position: absolute;
    top: -100%; /* Start off-screen above the frame */
    right: 0%;
    transform: rotate(180deg); /* Center horizontally and rotate upside down */
    width: auto;
    height: 100%;
    transition: top 1s ease-in-out; /* Slide down animation */
}

#playerdownslide.visible {
    top: 0%; /* Final position inside the frame */
}

.bars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/bars2.png') no-repeat center center;
    background-size: cover; /* Ensure the height matches the frame and cover the area */
    z-index: 3; /* Layer above background image and Player1.png */
}

.heart {
    position: absolute;
    top: -100%;
    left: -100%;
    transform: translate(-50%, -50%) scale(0);
    width: 300%;
    height: 300%;
    background: url('images/heart.png') no-repeat center center;
    background-size: contain;
    z-index: 3;
}

.valentines {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    font-size: 2rem;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 4;
    font-family: 'Style Script Regular', sans-serif;
    font-size: 3rem;
}

.valentines.visible {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .title {
        width: 80%;
    }
    
    h3 {
        width: 100%;
    }

    h4 {
        width: 100%;
        margin: 0;
        padding: 1rem;
    }

    .gameover {
        position: absolute;
        bottom: 5%;
        left: 0 auto;
        color: white;
        font-size: 1rem;
    }

    .options {
        /* flex-direction: column; */
        position: relative;
        bottom: -16rem;
        max-width: 100%;
        z-index: 100;
    }

    #playerstill {
        height: 60%;
        left: 0%;
    }

    #playerstillleft {
        height: 60%;
        right: 0%;
    }

    #playerslide {
        right: -150%; /* Start off-screen to the right */
        height: 60%;
    }

    #playerslide.visible {
        left: 0;
    }

    #playerslidefirst {
        right: -150%; /* Start off-screen to the right */
        height: 60%;
    }
    
    #playerslidefirst.visible {
        left: 0;
    }
    

    #ratstill {
        height: 60%;
        left: 0%;
    }

    #ratslide {
        left: -150%;
        height: 60%;
    }

    #ratslide.visible {
        left: 0;
    }

    #playerdownslide {
        left: 50%;
        transform: translateX(-50%) rotate(180deg); /* Center horizontally and rotate upside down */
        transform-origin: center; /* Ensure the rotation is around the center */
        height: 90%;
    }

    .heart {
        top: -125%;
        left: -125%;
        width: 350%;
        height: 350%;
    }

    .valentines {
        font-size: 2rem;
    }
}